body{font-family: "Lato", sans-serif}
.overlay{
	
	background:rgba(0,0,0,0.5);
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0
}
.container{
	padding-left:50px;
	width:60%;
	padding-right:50px
}
.navbar{
	background:#000;
}
.navbar-toggler{color:#fff}
.navbar-expand-md .navbar-nav .nav-link{padding-left:20px;padding-right:20px;}
.navbar-nav .nav-link{
	text-transform:uppercase;
	 
	color:#fff; 
}
.navbar-nav .nav-link:hover{
	background:#cecece;
	color:#000
}
.dropdown-item:hover{background:#cecece}
.navbar-nav .nav-item:last-child{
	position:absolute;
	right:0
}
.searchBox{
	box-sizing: border-box;
	position:absolute;
	right:70px;
	padding:11px 5px;;
	height:20px;
	margin-top:8px;
	display:none;
}
 
.navbar-nav .nav-item:last-child .nav-link:hover{
	background:#e00;
}
.carousel{
	height:500px;
	 
}
 .carousel img{
	 width:100%;
	 height:500px;
	 position:relative
 }
 .carousel-caption{color:#fff}
 #band{
	 padding:100px 0;
	 text-align:center
 }
#band h2{text-transform:uppercase}
#band .note,#contact .container p{color:#ccc;font-style:italic}
#band .container p:nth-child(3){ text-align:left }
#band .content{margin-top:30px}
#band .content img{
  max-width:100%;
  height:200px;
  display:block;
  margin:10px auto
}

#tour,#contact{
	background:#000;
	text-align:center;
	color:#fff;
	padding:100px 0
	}
	
#tour .container h2,#contact .container h2{text-transform:uppercase ; margin-bottom:20px}
#tour .container > p {color:#dedede;font-style:italic}
#tour .container .months{
	background:#fff;
	text-align:left;
	color:#f00;
	 
	margin:30px auto
}
#tour .container .months hr{margin:0}

#tour .container .months p{
	color:#555;
	padding:10px;
	margin:0
}
#tour .container .months span{
	display:inline-block;
	background:#e00;
	padding:0 10px;
	margin-left : 15px
}
#tour .container .months p:last-child span{
	border-radius:50%;
	background:#333;
	color:#fff;
	float:right
}
#tour .container .content{
	background:#fff;
	color:#333;
	text-align:left;

}
#tour .overlayImage{
	display:none; 
	background:rgba(0,0,0,0.5);
	width:100%;
	height:216px;
	position:absolute;
	top:0;
	left:0;
 
}
#tour .container .content img{
	width:100%;
 
}
.box{position:relative;	}
#tour .container .box:hover .overlayImage{
	display:block;
}
#tour .container .content p{
	padding:10px 0 10px 10px;
	margin:0;
}
#tour .container .content p:nth-child(2){font-weight:bold}
#tour .container .date{color: #aaa}

#tour .container button{
	background:#000;
	border:none;
	color:#fff;
	padding:10px 15px;
	margin-left:10px;
	margin-bottom:20px;
	cursor:pointer;
	transition:0.2s ease-in-out
}
#tour .container button:hover,
#contact .content button:hover{
	background:gray
}
#contact{background:#fff;color:#000}
#contact .content{text-align:left}
#contact .container >.row{margin-top:50px}
#contact .name,#contact .mail{ width:48%;}
#contact .name{margin-right:1%}
#contact .mail{margin-left:1%}
#contact input{padding:5px}
#contact .message{width:100%;margin:10px 0}
#contact .content button{float:right;background:#000;color:#fff;border:none;padding:10px 15px;font-size:15px;cursor:pointer}

footer{
	padding: 80px 0;
	text-align: center;
	background:#f6f6f6
}

footer .container a{
	text-decoration:none;
	color:#333;
	transition: all 0.2s ease-in-out
}
footer .container a:hover{
	color:#aaa
}